@page
@model AccountModel2


<!-- Modal -->
<body>
    <div class="login-container">
        <h2>Card Info</h2>
        <div style="margin-top: 20px;">
            <h3 style="color: #000000">@Model.Name</h3>
            <p>   </p>
            <h3 style="color: #000000">@Model.Cardnum</h3>
            <p>   </p>
            <h3 style="color: #000000">@Model.Money Pkr</h3>
            <p>   </p>

            <form method="post">
            <button class="login-btn" type="submit" disabled>Transfer</button>
            </form>

            <p>   </p>

            <form method="post">
                <button class="login-btn" type="submit" disabled>Withdraw</button>
            </form>
        </div>
        
    </div>
</body>